@charset "utf-8";
/* CSS Document */

a {
	text-decoration: none;
}

#cont_info_r {
	margin-top: 11vh;
	position: absolute;
	width: 50%;
	left: 50%;
	height: 100%;
	padding-top: 90px;
	display: flex;
	align-items: center;
	z-index: 350;
}

#cont_text_r {
	position: absolute;
	width: 100%;
	margin-bottom: 90px;
}

.date_info {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;
	color: #FFFFFF;
	margin-left: 6vh;
	margin-right: -4vh;
	text-align: center;
	line-height: 5vh;
	padding-top: 4px;
    padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
    
}

.act_info {
	font-family: 'Roboto', sans-serif;
	line-height: 5vh;
	font-size: 1.3vw;
	color: #FFFFFF;
	text-align: justify;
	padding-left: 4vw;
	padding-right: 2vw;
	margin-top: 0px;
	margin-bottom: 0px;
}

.act_info span {
	font-size: 2vw;
	color: #7c64a2;
	font-weight: 700;
}


#cont_info_l {
	position: absolute;
	margin-top: 7vh;
	width: 50%;
	height: 100%;
	background-color: #000000;
	display: flex;
	align-items: center;
}

#cont_text_l {
	position: absolute;
	background-color: #000000;
}

#title_info {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 8vw;
	text-align: center;
	margin-top: 0px;
	font-weight: 600;
	margin-bottom: 6vh;
}

.text_info{
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	line-height: 5vh;
	font-size: 1.3vw;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 0px;
	margin-bottom: 2vh;
}

.text_info span{
	color: #7c64a2;
	font-weight: 700;
}

.sub_info {
	color: #e0a253;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	font-weight: 600;
	line-height: 5vh;
	font-size: 1.9vw;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 2vh;
	margin-bottom: 4vh;
}

.buttons_info {
	color: #e0a253;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6vw;
	font-weight: 600;
	text-align: center;
	margin-top: 10vh;
	margin-left: 8vw;
	margin-right: 8vw;
	margin-bottom: 0px;
	padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid #e0a253;
    border-radius: 5px;
	background-color: #7c64a2;
	filter: opacity(90%);
	transition: all 0.2s ease;
}

.buttons_info:hover {
	box-shadow: 0px 0px 15px 2px rgba(255,255,255,0.4);
	filter: opacity(100%);
}

#info_lup span{
	color: #7c64a2;
	text-align: center;
}
.img_donate {
	margin-right: 5px;
}

#img_info {
	position: absolute;
	left: 70%;
	width: 30%;
	height: 100%;
	background-image: url("../images/manuel-lozano.jpg");
	z-index: 300;
	background-size: cover;
	filter: opacity(30%)
}

.gradient {
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 75%);
}